<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form
          id="loginForm"
          method="POST"
          action="<%= action === 'login' ? '/api/user/login' : '/api/user/register' %>"
          onsubmit="handleSubmit(event)"
        >
          <h1>Sign in</h1>
          <div style="width: 100%">
            <input
              type="email"
              id="email"
              name="email"
              required
              placeholder="Email"
            />
          </div>
          <div style="width: 100%">
            <input
              type="password"
              id="password"
              name="password"
              required
              placeholder="Password"
            />
          </div>
          <a href="#">Forgot your password?</a>
          <button type="submit" id="submitBtn">
            <div class="btn-content">
              <span id="btnText"><%= action === 'login' ? 'Sign IN' : 'Sign UP' %></span>
              <div class="loader" id="btnLoader"></div>
            </div>
          </button>
        </form>
      </div>
      <div class="overlay-container" style="padding: 0px !important">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <div class="rightPanel">
              <script
                src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
                type="module"
              ></script>
              <dotlottie-player
                src="https://lottie.host/22e04746-109b-4750-9c50-425019723099/0R9D8LN4xk.lottie"
                background="transparent"
                speed="1"
                style="width: 300px; height: 300px"
                loop
                autoplay
              ></dotlottie-player>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p><strong>Type carefully. The owl graduated from MIT.</strong></p>
    </footer>

    <script>
      function handleSubmit(event) {
        const submitBtn = document.getElementById("submitBtn");
        const btnText = document.getElementById("btnText");
        const btnLoader = document.getElementById("btnLoader");

        submitBtn.disabled = true;
        btnText.style.display = "none";
        btnLoader.style.display = "block";
      }
    </script>
  </body>
</html>
